<mat-toolbar>
  <mat-toolbar-row class="toolbar">
    <div class="home-button">
      <button class="icon-toggle" mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <img
          src="./assets/img/iPad Mini/image.png"
          alt="icon"
          class="home-header__logo"
         />
         <img
         src="./assets/img/chip 1.png"
         alt="icon"
         class="home-header__logo-mobile"
       />
      <div class="breadcrumbs">
        <a href="#">PlayUnited.com</a>
        <span><i class="fa-solid fa-chevron-right"></i></span>
        <a href="#">Casinos</a>
      </div>

    </div>
      <div id="header-top" class="home-header">

        <div class="home-header__icons">
          <div class="home-header__language">

            <img
              src="./assets/icons/USA.svg"
              alt=""
              class="bx home-header__icon--right"
            />
            <select class="home-header__select-nation">
              <option value="en">EN</option>
              <option value="vn">VN</option>
            </select>
          </div>
          <i
            class="fa-solid fa-magnifying-glass home-content__search"
            title="tìm kiếm"
          ></i>
        </div>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
    <div class="breadcrumbs-ipad">
      <a href="#"> PlayUnited.com</a>
      <span> > </span>
      <a href="#"> Casinos</a>
    </div>

