.mat-mdc-dialog-container .mdc-dialog__title {
  font-family: "Lato", sans-serif !important;
}
.mdc-dialog__title {
  margin: 0 auto;
  text-align: center;
  font-family: "Lato", sans-serif !important;
  font-size: 24px;
}
